.proj-modal-con {
    position: fixed;
    top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 76vh;
    background-color: #f8f8f8;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 3px;
    transition: 0.3s;
    > :first-child {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    > :nth-child(2) {
        width: 70%;
        > :first-child {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            img {
                width: 120px;
                max-height: 120px;
            }
            > :nth-child(3) {
                width: 120px;
                font-size: 1.7em;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: #fc5957;
                }
            }
        }
        > :nth-child(2) {
            padding: 0 10px;
            margin: 0 0 20px 0;
        }
        > :nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            video {
                width: 70%;
                height: 300px;
            }
        }
        > :nth-child(4) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            margin: 20px 0 0 0;
        }
        a {
            align-self: center;
            text-decoration: none;
            font-size: 1.3em;
            color: black;
            width: 160px;
            transition: 0.2s;
            &:hover {
                color: #fc5957;
            }
        }
    }
}
